.header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;

}
.right {
  float: left;
}
.right-lower {
  width: 250px;
  height: 100px;
  background-color: #8c2727;
}
.right-top-left {
  float: right;
}
.right-top-right {
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: right;
}
.right-top-left-top {
  width: 150px;
  height: 50px;
  background-color: #dbd400;
}
.right-top-left-lower {
  width: 150px;
  height: 100px;
  background-color: #0093b7;
}


.footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}


.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


@media screen and (max-width: 767px) {
  .header {
    width: 300px;
  }
  .left {
    width: 100px;
  }
  .right-lower {
    width: 200px;
  }
  .right-top-right {
    width: 75px;
  }
  .right-top-left-top {
    width: 125px;
  }
  .right-top-left-lower {
    width: 125px;
  }
  .footer {
    width: 300px;
  }
}

@media screen and (max-width: 479px) {
  * {
    width: 150px !important;
    float: none !important;
  }  
  .left {
    height: 100px;
  }
  .right-top-right {
    height: 100px;
  }
}
